<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.dao.user.UserdetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.feri.entity.user.Userdetail">
		<id column="id" property="id" />
		<result column="nickname" property="nickname" />
		<result column="headimg" property="headimg" />
		<result column="sign" property="sign" />
		<result column="birthday" property="birthday" />
		<result column="sex" property="sex" />
		<result column="promocode" property="promocode" />
	</resultMap>

</mapper>
